<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testCompareAgainstNil()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.058713</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateArrays()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13689</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateBools()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044072</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateDoubles()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044705</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateEquatables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23144</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 21:14:03</string>
				</dict>
			</dict>
			<key>testEquateHashables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.095346</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateNSObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13622</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateStrings()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11729</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEquateTuples()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26637</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 21:14:03</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.097354</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.096011</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036461</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039237</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12337</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13289</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040321</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034424</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12696</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12078</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033387</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033996</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.098757</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.08987</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01762</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.018777</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048759</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048863</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013816</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01404</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizinReallyLongExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.65361</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1858</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16658</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20694</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10165</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28216</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24959</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.34344</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13851</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11522</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10452</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12802</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055775</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.4227</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1608</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5228</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:38:22</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.84299</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.75191</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:48:01</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033877</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029306</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033607</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.014741</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testParsingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21093</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testParsingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39701</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testParsingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testParsingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.2823</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
			<key>testParsingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.066735</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:18:59</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
