<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testCompareAgainstNil()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036692</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateArrays()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.079548</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateBools()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022447</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateDoubles()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017365</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateEquatables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14725</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 22:12:36</string>
				</dict>
			</dict>
			<key>testEquateHashables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033315</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateNSObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.059533</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateStrings()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048783</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEquateTuples()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19075</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 22:12:36</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036063</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033836</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0066109</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010007</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048048</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047509</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0057594</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.008776</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049644</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.046435</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0057318</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090106</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042329</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042102</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0043578</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0062833</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.020006</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.019242</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0015968</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026188</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testOptimizinReallyLongExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.058076</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025662</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026408</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017926</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090914</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.031562</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036821</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022423</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.015566</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0167</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.019988</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011357</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0065739</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10099</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10544</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58475</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:49:22</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.089006</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.27046</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:49:22</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0084273</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0083846</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0053192</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0020945</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testParsingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044616</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testParsingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.08438</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testParsingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034585</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testParsingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26158</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
			<key>testParsingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012793</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30 Jan 2018, 18:18:24</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
