<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>Benchmarks</key>
		<dict>
			<key>testEndToEndLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013476</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011942</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndLongExpressionsJS()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034059</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Feb 2018 at 09:26:54</string>
				</dict>
			</dict>
			<key>testEndToEndLongJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15661</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndLongNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0077361</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005645</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005022</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndMediumExpressionsJS()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0227</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Feb 2018 at 09:26:54</string>
				</dict>
			</dict>
			<key>testEndToEndMediumJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11971</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndMediumNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.004407</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0024618</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018138</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndShortExpressionsJS()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023583</real>
					<key>baselineIntegrationDisplayName</key>
					<string>13 Feb 2018 at 09:26:54</string>
				</dict>
			</dict>
			<key>testEndToEndShortJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11603</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEndToEndShortNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0030989</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0050165</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0019077</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateLongJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.29043</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateLongNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.015428</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0024888</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00073555</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateMediumJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017022</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateMediumNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010841</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0016571</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00017178</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateShortJSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.015294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluateShortNSExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007483</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testCompareAgainstNil()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039467</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateArrays()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.085533</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateBools()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024524</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateDoubles()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021596</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateEquatables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14725</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 22:12:36</string>
				</dict>
			</dict>
			<key>testEquateHashables()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036855</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateNSObjects()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.062699</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateStrings()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.051937</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEquateTuples()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19075</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jan 2018, 22:12:36</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025362</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033836</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0076534</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010007</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023548</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047509</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0065801</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.008776</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023455</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.046435</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0067039</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090106</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013313</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042102</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0049971</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0062833</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.014775</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.019242</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0017371</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026188</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Jan 2018, 00:14:17</string>
				</dict>
			</dict>
			<key>testOptimizinReallyLongExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064044</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023361</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021851</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016751</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010244</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036897</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035504</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025616</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016821</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.020457</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0074955</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013467</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0074899</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11463</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressionWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11179</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58475</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:49:22</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.091187</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.27046</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:49:22</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011538</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0076678</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0079763</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressionsWithNewInitializer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0032594</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testParsingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04647</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testParsingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.090732</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testParsingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036656</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testParsingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2643</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
			<key>testParsingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013457</real>
					<key>baselineIntegrationDisplayName</key>
					<string>24 Feb 2018 at 09:20:00</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
