<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testEvaluatingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.043864</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044066</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0086794</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingBooleanExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0098994</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064676</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.066129</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0072178</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingLongExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0086588</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.063675</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.063973</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0074366</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingMediumExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0087372</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049615</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongAnyExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048139</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpression()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0051158</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingReallyLongExpressionWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0060343</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021751</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortAnyExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022323</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026335</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testEvaluatingShortExpressionsWithEmptyEvaluator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0025142</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1257</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testOptimizingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07761</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testOptimizingLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23037</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testOptimizingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12706</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testOptimizingMediumAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.077227</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testOptimizingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.043408</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.57319</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testOptimizingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2826</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testOptimizingShortAnyExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024267</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testOptimizingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.011997</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testParsingBooleanExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045542</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testParsingLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084845</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testParsingMediumExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034793</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:30:56</string>
				</dict>
			</dict>
			<key>testParsingReallyLongExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28179</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
			<key>testParsingShortExpressions()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0127</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Jan 2018, 18:50:17</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
